img {
  width: 500px;
  @include mobileBreakpoint {
    width: 350px;
    margin-top: 20px;
    margin-bottom: -90px;
  }
}

.about {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #505050;
  .test {
    width: 55%;
    @include mobileBreakpoint {
      width: 90%;
    }
    #resumebutton {
      width: 120px;
      height: 50px;
      border: none;
      background-color: #37422C;
      color: white;
      margin: 0 auto;
      letter-spacing: $space;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s all ease-in-out;
      font-size: 12px;
      &:hover {
        background-color: #C4CEA7;
        color: #505050;
      }
    }
    h1  {
      margin-bottom: 35px;
      color: #505050;
    }
  }
}
