img {
  width: 500px;
  @include mobileBreakpoint {
    width: 350px;
    margin-top: 20px;
    margin-bottom: -90px;
  }
}

.about {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // border: 1px solid thistle;
  .test {
    line-height: 30px;
    width: 55%;
    @include mobileBreakpoint {
      width: 90%;
    }
    h1  {
      margin-bottom: 35px;
    }
  }
}
