body {
  letter-spacing: $space;
  overflow-x: hidden;
}

.logo {
  background-image: url(../images/logo.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  // color: #505050;
  flex-wrap: wrap;
  }
  #socials {
    @include mobileBreakpoint {
      position: absolute;
      top: 52%;
      left: -10px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      margin: 10px;
      a {
        color: white;
        display: inline-block;
        transition: all .5s ease-out;
        &:hover {
          transform: translate(0px,-3px);
          }
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }

#title {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  color: white;

  #name {
    font-size: 90px;
    font-family: $title;
    letter-spacing: 7px;
  }
}

.logo {
  background-image: url(../images/logo.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

#left2 {
  a {
    color: #505050;
  }
  .logo2 {
    @extend .logo;
    background-image: url(../images/logogrey.png);

  }
}
