body {
  letter-spacing: $space;
  overflow-x: hidden;
}

.logo {
  background-image: url(../images/logo.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  flex-wrap: wrap;
  }
  #socials {
    @include mobileBreakpoint {
      position: absolute;
      top: 52%;
      left: -10px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      margin: 10px;
      a {
        color: white;
        display: inline-block;
        transition: all .5s ease-out;
        &:hover {
          transform: translate(0px,-3px);
          }
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }

#title {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  p {
    color: white;
    line-height: 40px;
  }
  span {
    color: white;
  }

  #name {
    font-size: 90px;
    font-family: $title;
    letter-spacing: 7px;
  }
}

.logo {
  background-image: url(../images/logo.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

#left2 {
  a {
    color: $maingrey;
  }
  @include mobileBreakpoint {
    li:nth-of-type(2) {
      margin-top: -150px;
    }
    li:nth-of-type(3) {
      margin-top: -150px;
    }
    li:nth-of-type(4) {
      margin-top: -150px;
    }
    li:nth-of-type(5) {
      margin-top: -150px;
    }
  }

  .logo2 {
    @extend .logo;
    background-image: url(../images/logogrey.png);

  }
}
