.new-section {
  h1 {
  margin-left: 50px;
  margin-top: 200px;
  }
}
.works {
  // border: 1px solid tomato;
  display: flex;
  margin-top: 60px;
  .sample-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      transition: .3s all ease-in-out;
      &:hover {
        transform: translate(-10px,-10px);
      }
    }
    .sample {
      margin: 40px;
      height: 250px;
      width: 305px;
      background-color: #C4CEA7;
    }
  }
}
